.card {
    width: 280px;
    height: 400px;
    padding: 0px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 3px rgb(160, 160, 160);
    transition: transform 0.2s;
}

.cardImg {
    height: 270px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.cardText {
    background-color: #f1ebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    transition: transform 0.2s;
}

.cardInline {
    font-size: 18px;
    font-weight: 300;
}

/* @media (max-width: 770px) {
    .card {
        width: 200px;
        height: 300px;
    }
} */
