.serviceArea {
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

@media (max-width: 1200px) {
    .serviceArea {
        flex-direction: column;
        gap: 50px;
    }
}

.middleArea {
    width: 100%;
    background-color: #fdfaf4;
    background-image: url("/traveling/bg03.png");
    background-repeat: no-repeat;
    animation: moveRight 20s linear infinite;
    transition: background-position 3s ease-in-out;
    padding-bottom: 30px;
}

@keyframes moveRight {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 1000%;
    }
}

.buttomArea{
    background-color: #fdfaf4;
    padding-bottom: 60px;
}