.photoArea {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 600px;
    background-image: url("/traveling/ph01.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0px 3px 10px rgb(134, 134, 134);
}

.photoBox {
    display: flex;
    position: absolute;
    left: 50px;
    gap: 150px;
    animation: moveLeft 120s linear infinite;
}

.photoBox2 {
    display: flex;
    position: absolute;
    left: 50px;
    gap: 150px;
    animation: moveLeft 120s linear infinite;
    animation-play-state: paused;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.card {
    width: 220px;
    height: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    background-color: #c4c4c4;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(74, 74, 74);
}

.card:hover {
    transform: scale(1.1);
}

.cardImg {
    width: 100%;
    height: 70%;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
